body {
  background-color: #f9f9f9;
}

p {
  font-size: auto;
  font-family: sans-serif;
  word-wrap: break-word;
}

.center_column {
  white-space: normal;
  width: 60vw;
  margin-left: 20vw;
  margin-right: 20vw;
}

.logo_header{
  display: block;
  max-width: 50%;
  max-height: 50vh;
  margin-left: auto;
  margin-right: auto;
  float: middle;
}

.head_shots {
  display: flex;
  width: 25vw;

}

.image_box {
  display: grid;
  height: 50%;
}

.page1_header {
  width: 25vw;
}
.page1_logo {
  width: 50vw;
}

.intro {
  background-color: #4286f4;
}

table {
  width: 100%;
}

.header {
  background-color: grey;
  width: 33%;
  border-bottom: 12px;
}

td {
  border-bottom: 12px solid #f9f9f9;
}
